# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/*.log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
output/*.xml
history/*.json
!history/template.json
subscription_history.json
!subscription_history_template.json
cache/
!cache/README.md

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
frontend/node_modules/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 